html {
	overflow-y: scroll;
}

#password_hash_disp, #hash {
	font-family: monospace;
}

.hashpass {
	color: #fff;
	background-color: #08c;
}

#keyword_help,
#password_help {
	margin-top: 9px;
	vertical-align: top;
}

/*
.input-item {
	padding-top: 8px;
}
*/

.scroll-frame {
    height: 200px;
    overflow: auto;
    position: relative;
}

#options .control-label  {
	margin-bottom: 5px;
}

.options_rows .col1 {
	width: 20%;
}
.options_rows .col2 {
	width: 40%;
}
.options_rows .col3 {
	width: 40%;
}
.option-name {
	cursor: pointer;
}
.options_rows:hover {
	background-color: #eeeeff;
}

thead .options_rows:hover {
	background-color: #ffffff;
}

#options_conf_table {
	margin-bottom: 5px;
}

#options_edit_textarea {
	width: 90%;
}

.footer  {
	text-align: right;
	line-height: 1.3em;
}
